<video class="video-js" id="video-player"></video>
<div class="row middle-sm no-margin">
  <div>Scale &nbsp;</div>
  <mat-slider
    matTooltip="Slide to adjust the timeline scale"
    [disabled]="sources.length === 0"
    min="10"
    max="50"
    step="0.5"
  >
    <input
      matSliderThumb
      (valueChange)="onScaleChanged($event)"
      [(ngModel)]="scale"
    />
  </mat-slider>
</div>
<div
  class="track-container"
  id="video-track"
  #videoTrack="cdkDropList"
  cdkDropList
  (cdkDropListDropped)="drop($event)"
  cdkDropListOrientation="horizontal"
>
  <div class="timeline" #timeLine (click)="onTimelineClicked($event)">
    @for (marker of markers; track marker) {
    <div class="marker">
      {{ marker.text }}
    </div>
    }
  </div>
  @if(sources.length > 0) {
  <div class="cursor" [style.left]="position * this.scale + 'px'" #cursor></div>
  } @else {
  <h3 style="margin-left: 1em">Drag some sources to this container to get started</h3>
  }
  <div class="source-list">
    @for (source of sources; track source; let i = $index) {
    <div
      (click)="onTrackItemClicked(source)"
      cdkDrag
      [cdkDragData]="source"
      class="source-item row space-between-sm no-margin"
      [ngClass]="{ selected: source === selectedTrack }"
      [style.width]="source.width * scale + 'px'"
      [style.backgroundColor]="source.color"
    >
      <div class="col-sm-4">
        {{ source.name }}
      </div>
      <div class="delete-button col-sm-8 text-end">
        <button mat-icon-button (click)="onDeleteTrackClicked(i)">
          <mat-icon> delete </mat-icon>
        </button>
      </div>
    </div>
    }
  </div>
</div>
