<mat-toolbar color="primary"> Shuffle video editor </mat-toolbar>
<main-layout>
  <div left>
    <source-list
      [sources]="videoSources"
      (play)="onListPreviewPlay($event)"
      (pause)="onListPausePreviewClicked($event)"
    ></source-list>
    @if(selectedTrack()) {
    <track-settings [track]="selectedTrack()!" (trackChanged)="onTrackSettingsChanged($event)"></track-settings>
    }
  </div>
  <div right>
    <h2>Preview:</h2>
    <video-preview
      [trackSources]="trackSources()"
      [pause]="sourceToPlay?.isPlaying || false"
      [source]="sourceToPlay"
      (positionChanged)="onPreviewPositionChanged($event)"
      [position]="videoPosition()"
      [trackIndex]="trackIndex()"
      (nextTrackIndex)="onPlayNextTrack()"
      [playerState]="playerState()"
      (playClicked)="onPlayClicked()"
      (puaseClicked)="onPauseClicked()"
    ></video-preview>
  </div>
  <div footer>
    <video-track
      [sources]="trackSources()"
      [selectedTrack]="selectedTrack()"
      (positionChanged)="onUserPositionChanged($event)"
      [position]="trackPosition()"
      (trackIndexChanged)="onTrackIndexChanged($event)"
      (trackItemsChanged)="onTrackItemsChanged($event)"
      (deleteTrackClicked)="onDeleteTrackClicked($event)"
      (trackItemClicked)="onTrackItemClicked($event)"
    ></video-track>
  </div>
</main-layout>
