<mat-toolbar color="primary"> Shuffle video editor </mat-toolbar>
<main-layout>
  <div left>
    <source-list
      [sources]="videoSources"
      (play)="onListPreviewPlay($event)"
      (pause)="onListPausePreviewClicked($event)"
    ></source-list>
  </div>
  <div right>
    <h2>Preview:</h2>
    <video-preview
      [trackSources]="trackSources"
      [pause]="sourceToPlay?.isPlaying || false"
      [source]="sourceToPlay"
      (positionChanged)="onPreviewPositionChanged($event)"
      [position]="userPosition"
      [trackIndex]="trackIndex"
    ></video-preview>
  </div>
  <div footer>
    <video-track
      (positionChanged)="onUserPositionChanged($event)"
      [position]="currentPosition"
      (trackItemsChanged)="onTrackItemsChanged($event)"
    ></video-track>
  </div>
</main-layout>
